:root {
  --background: #ffffff;
  --foreground: #030213;
  --border: rgba(0,0,0,0.1);
  --primary: #030213;
  --secondary: #e9ebef;
  --font-weight-medium: 500;
}

/* dark mode opcional */
.dark {
  --background: #030213;
  --foreground: #ffffff;
}
